body {
    font-size: 12pt;
    font-family: verdana
}

.toolbox-btn {
    padding: 15px;
    margin: 7px;
    cursor: pointer;
    display: inline-block;
    font-size: 15pt;
    background-color: rgb(236, 236, 236);
    color: steelblue;
}

.toolbox-btn > div { width: 50px;height: 50px; background-repeat: no-repeat}

/* wall */
.wall-btn {
    background: url('/Images/Toolbox/wall.png')
}
.toolbox-btn:hover > .wall-btn, .toolbox-btn-pressed > .wall-btn {
    background: url('/Images/Toolbox/wall-b.png')
}

/* room */
.room-btn {
    background: url('/Images/Toolbox/room.png')
}
.toolbox-btn:hover > .room-btn, .toolbox-btn-pressed > .room-btn {
    background: url('/Images/Toolbox/room-b.png')
}

/* location */
.location-btn {
    background: url('/Images/Toolbox/location.png')
}
.toolbox-btn:hover > .location-btn, .toolbox-btn-pressed > .location-btn {
    background: url('/Images/Toolbox/location-b.png')
}

/* point */
.point-btn {
    background: url('/Images/Toolbox/point.png')
}
.toolbox-btn:hover > .point-btn, .toolbox-btn-pressed > .point-btn {
    background: url('/Images/Toolbox/point-b.png')
}

/* qrcode */
.qrcode-btn {
    background: url('/Images/Toolbox/qrcode.png')
}
.toolbox-btn:hover > .qrcode-btn, .toolbox-btn-pressed > .qrcode-btn {
    background: url('/Images/Toolbox/qrcode-b.png')
}


/* door */
.door-btn {
    background: url('/Images/Toolbox/door.png')
}
.toolbox-btn:hover > .door-btn, .toolbox-btn-pressed > .door-btn {
    background: url('/Images/Toolbox/door-b.png')
}


.empty-toolbox-btn {
    padding: 20px;
    border: 1px solid white;
}

.toolbox-btn:hover {
    background-color: #BEE3FA;
    color: rgb(116, 115, 115);
}
.toolbox-btn-pressed {
    background-color: #ADD8E6 !important;
    color: black !important;
}

.toolbox {
    padding: 0px 10px;
}

.scheme-image {
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
    cursor: pointer;
}

.scheme-image:hover, .scheme-image:active {background-color:lightblue}

.canvas {width:100%;height:100%}