@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Редактор схемы</h2>

<div id="toolbox" style="float:left">
    <div>
        <div class="toolbox-button">1</div>
        <div class="toolbox-button">2</div>
    </div>
    <div>
        <div class="toolbox-button">3</div>
        <div class="toolbox-button">4</div>
    </div>
    <div>
        <div class="toolbox-button">5</div>
        <div class="toolbox-button">6</div>
    </div>
</div>
<div>
    <canvas id="scheme"></canvas>
</div>

<script type="text/javascript">
    $().ready(function() {
        $('#')
    });
</script>