@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="/Scripts/Editor/utils.js"></script> 
<script type="text/javascript" src="/Scripts/Editor/wall-tool.js"></script>
<script type="text/javascript" src="/Scripts/Editor/room-tool.js"></script>
<script type="text/javascript" src="/Scripts/Editor/move-tool.js"></script>
<script type="text/javascript" src="/Scripts/Editor/point-tool.js"></script>
<script type="text/javascript" src="/Scripts/Editor/door-tool.js"></script>

<script type="text/javascript" src="/Scripts/Editor/SchemeGraph.js"></script>
<script type="text/javascript" src="/Scripts/Editor/popup.js"></script>

<div id="mainPanel" style="margin-top:40px;position:relative">
    <div id="toolbox" class="toolbox" style="float:left; width:200px">
        <div style="margin-bottom:10px;font-size:14pt;color:black;font-weight: bold">
            Инструменты
        </div>
        <div>
            <div class="toolbox-btn toolbox-btn-pressed" id="wall" title="Стена">
                <div class="wall-btn">&zwj;</div>
            </div>
            <div class="toolbox-btn" id="room" title="Создать комнату">
                <div class="room-btn">&zwj;</div>
            </div>
        </div>
        <div>
            <div class="toolbox-btn" id="pointInRoom" title="Точка в комнате">
                <div class="location-btn">&zwj;</div>
            </div>
            <div class="toolbox-btn" id="coordPoint" title="Точка с координатами">
                <div class="point-btn">&zwj;</div>
            </div>
        </div>
        <div>
            <div class="toolbox-btn" id="QRCode" title="QR-Code">
                <div class="qrcode-btn">&zwj;</div>
            </div>
            <div class="toolbox-btn" id="door" title="door">
                <div class="door-btn">&zwj;</div>
            </div>
        </div>
    
        <div style="margin-top:50px">
            <div class="scheme-image">
                &darr; Изображение схемы
            </div>
        </div>
    </div>
    <div id="canvasPanel" style='margin-top:20px'>
        <canvas id="canvas" width="800" height="500" style='background-color:#eee'></canvas>
    </div>
    
    <div style="left:220px;bottom:5px;position:absolute;z-index:1;width:800px;height:500px">
        <canvas id="upCanvas" class="canvas" tabindex="1" width="800" height="500"></canvas>
    </div>
</div>

<script type="text/javascript">
    var _selectedTool = null;
    $().ready(function () {
        initTools();
        bindEvents();

        $('#toolbox .toolbox-btn').click(function () {
            $('#toolbox .toolbox-btn').removeClass('toolbox-btn-pressed');

            $(this).addClass('toolbox-btn-pressed');
            var toolId = $(this).attr('id');
            var newTool = _idToTool[toolId];
            
            // Отключаем предыдущий инструмент
            if (_selectedTool)
                _selectedTool.deActivate();

            // Включаем выделенный инструмент
            _selectedTool = newTool;
            if (_selectedTool)
                _selectedTool.activate(toolId);
        });
    });
    
    function initTools() {
        var upCtx = document.getElementById('upCanvas').getContext('2d');
        var downCtx = document.getElementById('canvas').getContext('2d');
        var toolContext = {
            DownCtx: downCtx,
            UpCtx: upCtx,
            State: _state,
            Width: 800,
            Height: 500,
            DownCanvas: $('#canvas'),
            UpCanvas: $('#upCanvas'),
            Graph: new SchemeGraph(),
            Rooms:{}
        };

        _selectedTool = _idToTool['wall'] = new WallTool(toolContext);
        _idToTool['room'] = new RoomTool(toolContext);
        _idToTool['pointInRoom'] = new PointTool(toolContext);
        _idToTool['coordPoint'] = new PointTool(toolContext);
        _idToTool['QRCode'] = new PointTool(toolContext);
        _idToTool['door'] = new DoorTool(toolContext);
    }
    
    function bindEvents() {
        function onclick(event) {
            var coords = getCursorPosition(event);
            if (_selectedTool && _selectedTool.click)
                _selectedTool.click(coords);
        };

        var upCanvas = document.getElementById('upCanvas');
        upCanvas.addEventListener("click", function (event) { onclick(event); }, false);
        
        $('#upCanvas').mousedown(function(event) {
            var coords = getCursorPosition(event);
            if (_selectedTool && _selectedTool.mouseDown)
                _selectedTool.mouseDown(coords);
        });

        $('#upCanvas').mouseup(function(event) {
            var coords = getCursorPosition(event);
            if (_selectedTool && _selectedTool.mouseUp)
                _selectedTool.mouseUp(coords);
        });

        $('#upCanvas').mousemove(function(event) {
            var coords = getCursorPosition(event);
            if (_selectedTool && _selectedTool.mouseMove)
                _selectedTool.mouseMove(coords);
        });

        $('#upCanvas').keydown(function (event) {
            event.keyCode = event.keyCode ? event.keyCode : event.which;
            if (_selectedTool && _selectedTool.keydown) {
                _selectedTool.keydown(event);
            }
        });
    }

    function getCursorPosition(e) {
        var x;
        var y;
        if (e.pageX != undefined && e.pageY != undefined) {
            x = e.pageX;
            y = e.pageY;
        } else {
            x = e.clientX + document.body.scrollLeft +
                document.documentElement.scrollLeft;
            y = e.clientY + document.body.scrollTop +
                document.documentElement.scrollTop;
        }
        x -= $('#upCanvas').offset().left;
        y -= $('#upCanvas').offset().top;

        return { x: x, y: y };
    }

    var _idToTool = {};
    var _state = { Walls: [] };
</script>